<header>
  <h1><a routerLink="top">SHOP</a></h1>
  <nav>
    <ul>
      <li><a routerLink="mens_outerwear" routerLinkActive="active">Men's Outerwear</a></li>
      <li><a routerLink="ladies_outerwear" routerLinkActive="active">Ladies Outerwear</a></li>
      <li><a routerLink="mens_t-shirts" routerLinkActive="active">Men's T-Shirts</a></li>
      <li><a routerLink="ladies_t-shirts" routerLinkActive="active">Ladies T-Shirts</a></li>
    </ul>
  </nav>
</header>

<router-outlet></router-outlet>

<footer>
  <a href="">Made by Polymer</a>
  <b>DEMO ONLY</b>
</footer>