<ul>
  <li>
    <a routerLink="/mens_outerwear"><img src="/assets/images/top/mens_outerwear.jpg" alt="Men's Outerwear"></a>
    <h2>Men's Outerwear</h2>
    <a routerLink="/mens_outerwear">Men's Outerwear</a>
  </li>
  <li>
    <a routerLink="/ladies_outerwear"><img src="/assets/images/top/ladies_outerwear.jpg" alt="Ladies Outerwear"></a>
    <h2>Ladies Outerwear</h2>
    <a routerLink="/ladies_outerwear">Ladies Outerwear</a>
  </li>
  <li class="half">
    <a routerLink="/mens_t-shirts"><img src="/assets/images/top/mens_t-shirts.jpg" alt="Men's T-Shirts"></a>
    <h2>Men's T-Shirts</h2>
    <a routerLink="/mens_t-shirts">Men's T-Shirts</a>
  </li>
  <li class="half">
    <a routerLink="/ladies_t-shirts"><img src="/assets/images/top/ladies_t-shirts.jpg" alt="Ladies T-Shirts"></a>
    <h2>Ladies T-Shirts</h2>
    <a routerLink="/ladies_t-shirts">Ladies T-Shirts</a>
  </li>
</ul>